
* {
    font: inherit;
}


.navbar{
    background-color: #c82021;
    color: white;

    
}

.btn{
    background-color: #c82021;
    color: white;
}

.wmx4 {
    max-width: 32.4102564rem !important;
}
.w90 {
    width: 90% !important;
}
.ta-center {
    text-align: center !important;
    
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mb24 {
    margin-bottom: 24px !important;
}

.house {
    position: relative;
    height: 550px;
    padding: 20px;
    margin: 0;
    background-image: url("house.png");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}

.text-center{
    text-align: center;
}

.house h1 {
    margin-top: 200px;
    font-size: 4rem;
    animation: title 1.2s forwards linear;
  }

.kpi{
    text-align: center;
}

.card{
    text-align: center;
}

.plot-title{
    text-align: center;
 
}


.summary_plot{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.footer {
    background-color:whitesmoke;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #c82021;
    color: black;
    min-height: 55px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
  
  }



.dataframe{
    text-align: center;
    font-size: small;
    border-collapse: collapse ;
    width: 100%;
    border: 0px;
}

.dataframe th{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}