.wmx4 {
    max-width: 32.4102564rem !important;
}
.w90 {
    width: 90% !important;
}
.ta-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mb24 {
    margin-bottom: 24px !important;
}