.navbar{
    background-color: #c82021;
    color: white;

    
}

.btn{
    background-color: #c82021;
    color: white;
}

.wmx4 {
    max-width: 32.4102564rem !important;
}
.w90 {
    width: 90% !important;
}
.ta-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.mb24 {
    margin-bottom: 24px !important;
}

.card{
    text-align: center;
}

.plot-title{
    text-align: center;
 
}


.summary_plot{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.footer {
    background-color:whitesmoke;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #c82021;
    color: black;
    min-height: 55px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
  
  }



.dataframe{
    text-align: center;
    font-size: small;
    border-collapse: collapse ;
    width: 100%;
    border: 0px;
}

.dataframe th{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #f5f5f5;}